#define RT_MANIFEST 24

#define ID_MENU_OPEN 100
#define ID_MENU_IMPORT 200

1 RT_MANIFEST "manifest.xml"

main_menu MENU
{
    POPUP   "&File"
    {
        MENUITEM "&Open\tCtrl+O", ID_MENU_OPEN
    }
}

main_commit_menu MENU
{
    POPUP "Commit"
    {
        MENUITEM "Import from here", ID_MENU_IMPORT
    }
}

main_accelerators ACCELERATORS
{
    "o", ID_MENU_OPEN, CONTROL, VIRTKEY
}